* {
    font-weight:bold;
    border: none;
    border-radius: 0;
    font-family: NotoSansCJK-Regular, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color:#FFFCFD;
    color:#D9B9B3;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #D9B9B3;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    color:#fff;
    box-shadow: inherit;
}

#workspaces button.focused {
    color:#fff;
    background-color: #250E07;
}

#workspaces button.urgent {
    color:#fff;
    background-color: #eb4d4b;
}

#mode {
    background-color: #250E07;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#mode,
#battery,
#temperature,
#idle_inhibitor,
#custom-date {
	margin:0 8px;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color:#6F873E;
    background-color: transparent;
    transition:0.3s;
}

#memory {
    background-color: transparent;
    color:#7B91B3;
}

#network {
    color: #C97290;
    background-color: transparent;
}

#network.disconnected {
    background-color: transparent;
}

#pulseaudio {
    background-color: transparent;
    color: #ecc3c2;
}

#pulseaudio.muted {
    background-color: transparent;
    color: #832426;
}

#battery {
    color: #89BEB7;
}

#battery.charging {
    color: #6f873e;
}

@keyframes blink {
    to {
	background-color: #ffffff;
	color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#temperature {
    color: #832426;
}

#custom-start {
    background-color:#ECC3C2;
    color:#fff;
}
